<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <!-- Sección principal con contenedor fluido y clases de estilo -->

    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <!-- Contenedor con diferentes columnas en diferentes tamaños -->
        <a routerLink="/item" class="animated fadeIn rk-item ae-masonry__item">
            <!-- Enlace con animación y clase -->
            <img src="assets/img/book-1.jpg" alt="" />
            <!-- Imagen -->
            <div class="item-meta">
                <!-- Metadatos del elemento -->
                <h2>Escritor en guerra</h2>
                <!-- Título -->
                <p>George Orwell</p>
                <!-- Nombre del autor -->
            </div>
        </a>

        <a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/book-2.jpg" alt="" />
            <div class="item-meta">
                <h2>Debate</h2>
                <p>Brian Dillon</p>
            </div>
        </a><a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/book-3.jpg" alt="" />
            <div class="item-meta">
                <h2>El carnicero y el pájaro</h2>
                <p>Alaina Urquhart</p>
            </div>
        </a><a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/book-4.jpg" alt="" />
            <div class="item-meta">
                <h2>Alas de sangre (Empíreo 1)</h2>
                <p>Paulina ocampo</p>
            </div>
        </a><a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/book-5.jpg" alt="" />
            <div class="item-meta">
                <h2>Dr. Netas interviene Romeo y Julieta de W. Shakeaspeare</h2>
                <p>Pacasso</p>
            </div>
        </a><a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/book-6.jpg" alt="" />
            <div class="item-meta">
                <h2>Los muros de aire</h2>
                <p>Yael Weiss</p>
            </div>
        </a><a routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/img/book-7.jpg" alt="" />
            <div class="item-meta">
                <h2>Bruma roja ( Bilogía Bruma Roja 1 )</h2>
                <p>Lucía G. Sobrado</p>
            </div>
        </a>
    </div>
</section>