<div class="ae-grid au-xs-ta-center au-mb-4">
    <!-- Contenedor principal con rejilla y clases de alineación y margen -->

    <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <!-- Primer elemento de la rejilla -->
        <img src="assets/img/top1.jpg" alt="" class="au-mb-3">
        <!-- Imagen con margen inferior -->
        <h5 class="ae-u-bolder au-mt-2"> Harry Potter y la Piedra Filosofal </h5>
        <!-- Título en negrita con margen superior -->
        <h5 class="ae-u-bolder au-mb-3">J.K. Rowling,</h5>
        <!-- Nombre del autor en negrita con margen inferior -->
        <h6>editorial: Bloomsbury</h6>
        <!-- Editorial del libro -->
        <h6>ISBN: 9786075577708</h6>
        <!-- ISBN del libro -->
    </div>

    <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/top2.jpg" alt=""
            class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2"> Las damas del poder </h5>
        <h5 class="ae-u-bolder au-mb-3">Maria Lomeda</h5>
        <h6>editorial: Planeta México</h6>
        <h6>ISBN: 9786075577705</h6>
    </div>

    <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/top3.jpg" alt=""
            class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2"> Literatura infantil </h5>
        <h5 class="ae-u-bolder au-mb-3">Alejandro Zambra</h5>
        <h6>editorial: Anagrama Océano</h6>
        <h6>ISBN: 9786075577709</h6>
    </div>

    <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/top3.jpg" alt=""
            class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2"> Literatura infantil </h5>
        <h5 class="ae-u-bolder au-mb-3">Alejandro Zambra</h5>
        <h6>editorial: Anagrama Océano</h6>
        <h6>ISBN: 9786075577709</h6>
    </div>

    <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/top1.jpg" alt=""
            class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2"> Harry Potter y la Piedra Filosofal </h5>
        <h5 class="ae-u-bolder au-mb-3">J.K. Rowling,</h5>
        <h6>editorial: Bloomsbury</h6>
        <h6>ISBN: 9786075577708</h6>
    </div>

    <div class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/top2.jpg" alt=""
            class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2"> Las damas del poder </h5>
        <h5 class="ae-u-bolder au-mb-3">Maria Lomeda</h5>
        <h6>editorial: Planeta México</h6>
        <h6>ISBN: 9786075577705</h6>
    </div>


</div>