<section class="ae-container-fluid ae-container-fluid--full">
    <!-- Sección principal con contenedor fluido y clases de estilo -->

    <header class="rk-portfolio-cover  item-inside-1">
        <!-- Encabezado del portafolio -->
        <div class="item-inside__meta">
            <!-- Metadatos del encabezado -->
            <h1 class="ae-u-bolder rk-portfolio-title ">Detalles del libro</h1>
            <!-- Título en negrita del encabezado -->
            <p class="ae-theta rk-portfolio-category ">fecha-publicacion: 12 de Julio 2023</p>
            <!-- Categoría o metadato adicional en el encabezado -->
        </div>
    </header>

    <div class="ae-container-fluid">
        <!-- Contenedor de titulo -->
        <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
            <!-- Rejilla para organizar contenido -->
            <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
                <!-- Primer elemento de la rejilla -->
                <h2 class="rk-portfolio-inner-title ">Dr. Netas interviene Romeo y Julieta de W. Shakeaspeare</h2>
                <!-- Título interno en negrita -->
            </div>
            <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
                <!-- Segundo elemento de la rejilla -->
                <p class="rk-portfolio-inner-client "><span class="ae-u-bolder">Autor: Pacasso</span></p>
                <!-- Detalles adicionales, como el autor -->
                <p class="ae-kappa ae-u-bold rk-portfolio-inner-date ">ISBN: 9786073833028</p>
                <!-- Detalles adicionales, como el ISBN -->
            </div>
        </div>
    </div>

    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <!-- Nuevo contenedor de la información del libro -->
        <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
            <!-- Rejilla para organizar contenido -->
            <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
                <!-- Primer elemento de la rejilla -->
                <h4 class="ae-u-bolder">Sipnosis</h4>
                <!-- Título interno en negrita -->
                <p class="ae-eta">Dos jóvenes amantes de Verona atrapados en la disputa de dos familias rivales cuyo
                    amor los conduce a un trágico
                    final.APTO PARA MENTES ELEVADASQuizá ya conozcas esta historia y crees saberlo todo de ella, pero no
                    es así. En estas
                    venturosas páginas descubrirás los apuntes, o mejor dicho los garabatos del Dr.Netas, que harán que,
                    si ya has leído
                    Romeo y Julieta, te encuentres con juguetones comentarios e interpretaciones que te harán bastante
                    fresca esta lectura.</p>
                <!-- Párrafo de sinopsis -->
            </div>
            <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/img/book-5.jpg"></div>
            <!-- Segundo elemento de la rejilla con una imagen(del libro seleccionado) -->
        </div>
    </div>
</section>